RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://zetaman.reallifesuperheroes.info/$1 [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://bible.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bible.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://blog.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cheaptales.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cheaptales.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chummies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chummies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drupal.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drupal.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gifagram.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gifagram.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hollywood.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hollywood.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illyaking.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://illyaking.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://islandtravel.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://islandtravel.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://live.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://live.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mcbuggies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mcbuggies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://middleagescomic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://middleagescomic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://middleagescomic.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://middleagescomic.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://minnieandmax.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://minnieandmax.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mytheme.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mytheme.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mythosimprint.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mythosimprint.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nakedmancomics.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nakedmancomics.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nakedmancomics.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nakedmancomics.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narwhal.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://narwhal.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://novellas.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://novellas.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcc.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcc.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pics.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pics.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://projects.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://projects.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rainbowninja.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rainbowninja.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reallifesuperheroes.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reallifesuperheroes.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rose-city.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rose-city.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thecomixscene.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://thecomixscene.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://theschlub.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://theschlub.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://theschlub.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://theschlub.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://totallynakedman.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vega.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vega.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiki.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiki.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wp.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bible.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bible.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.blog.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cheaptales.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cheaptales.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chummies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chummies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drupal.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drupal.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gifagram.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gifagram.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hollywood.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hollywood.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illyaking.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.illyaking.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.islandtravel.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.islandtravel.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.live.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.live.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mcbuggies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mcbuggies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.middleagescomic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.middleagescomic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.middleagescomic.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.middleagescomic.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.minnieandmax.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.minnieandmax.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mytheme.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mytheme.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mythosimprint.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mythosimprint.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nakedmancomics.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nakedmancomics.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nakedmancomics.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nakedmancomics.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narwhal.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.narwhal.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.novellas.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.novellas.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcc.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcc.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pics.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pics.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.projects.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.projects.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rainbowninja.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rainbowninja.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reallifesuperheroes.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reallifesuperheroes.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rose-city.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rose-city.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thecomixscene.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thecomixscene.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.theschlub.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.theschlub.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.theschlub.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.theschlub.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.totallynakedman.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vega.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vega.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiki.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiki.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wp.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.blog.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.blog.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zetaman.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.blog.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.blog.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zetaman.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bible.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bible.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://blog.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cheaptales.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cheaptales.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://chummies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://chummies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drupal.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drupal.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gifagram.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gifagram.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hollywood.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hollywood.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://illyaking.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://illyaking.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://islandtravel.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://islandtravel.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://live.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://live.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mcbuggies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mcbuggies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://middleagescomic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://middleagescomic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://middleagescomic.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://middleagescomic.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://minnieandmax.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://minnieandmax.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mytheme.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mytheme.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mythosimprint.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mythosimprint.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nakedmancomics.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nakedmancomics.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nakedmancomics.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nakedmancomics.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narwhal.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://narwhal.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://novellas.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://novellas.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pcc.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pcc.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pics.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pics.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://projects.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://projects.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rainbowninja.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rainbowninja.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reallifesuperheroes.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reallifesuperheroes.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rose-city.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rose-city.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thecomixscene.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://thecomixscene.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://theschlub.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://theschlub.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://theschlub.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://theschlub.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://totallynakedman.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vega.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vega.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiki.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiki.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wp.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bible.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bible.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.blog.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cheaptales.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cheaptales.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.chummies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.chummies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drupal.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drupal.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gifagram.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gifagram.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hollywood.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hollywood.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.illyaking.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.illyaking.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.islandtravel.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.islandtravel.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.live.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.live.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mcbuggies.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mcbuggies.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.middleagescomic.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.middleagescomic.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.middleagescomic.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.middleagescomic.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.minnieandmax.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.minnieandmax.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mytheme.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mytheme.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mythosimprint.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mythosimprint.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nakedmancomics.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nakedmancomics.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nakedmancomics.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nakedmancomics.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narwhal.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.narwhal.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.novellas.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.novellas.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pcc.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pcc.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pics.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pics.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.projects.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.projects.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rainbowninja.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rainbowninja.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reallifesuperheroes.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reallifesuperheroes.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rose-city.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rose-city.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thecomixscene.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.thecomixscene.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.theschlub.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.theschlub.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.theschlub.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.theschlub.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.king-web.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.king-web.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.thecomixscene.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.totallynakedman.thecomixscene.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vega.rose-city.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vega.rose-city.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiki.totallynakedman.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiki.totallynakedman.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp.illyaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wp.illyaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.blog.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.blog.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zetaman.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.blog.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.blog.reallifesuperheroes.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.mythosimprint.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.mythosimprint.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.reallifesuperheroes.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zetaman.reallifesuperheroes.info$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
#AddHandler application/x-httpd-alt-php74___lsphp .php .php7 .phtml

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “alt-php74” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-alt-php74___lsphp .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
